#site-nav {
  button {
    &.navbar-toggler.collapsed,
    &.navbar-toggler {
      width: 100%;
    }
  }

  .navbar-collapse {
    z-index: 9999;
  }

  .navbar-brand {
    font-size: 1.65em;
  }
}
