@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.LoadingSplash-Component {

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        font-size: 3em;
        font-weight: bold;
    }

    .loading-icon {

        @at-root .loading-icon-container {
            text-align: center;
        }

        text-align: center;
        font-size: 5em;
        animation: spin 1.5s ease-in-out infinite;
    }
}