.AnchorButton-Component {
  a {
    & > *:first-child {
      display: flex;
    }

    &.horizontal,
    &.vertical {
      padding: 0.5em;
      * {
        width: fit-content;
      }
      & > *:first-child {
        align-items: center;
        justify-content: center;
      }
    }

    &.horizontal {
      & > *:first-child {
        flex-direction: row;
      }
    }

    &.vertical > *:first-child {
      flex-direction: column;
    }
  }
}
