.TroubleshootingFilters-Component {
    /* border: 1px solid black; */
    padding: 1em;
}

.TroubleshootingFilters-Component .center {
    text-align: center;
}

.TroubleshootingFilters-Component .right {
    text-align: right;
}