.TroubleshootingTip-Component {
    /* border: 1px dashed black; */
    margin: 1em 0;
    padding: 1em;
    background-color: #f2f2f2;
    border-radius: 0.25em;
}

.TroubleshootingTip-Component .title {
    font-weight: bold;
    font-size: 1.25em;
}

.TroubleshootingTip-Component .description {
    font-style: italic;
    color: #929292;
}

.TroubleshootingTip-Component .solution {}


.TroubleshootingTip-Component .types::before {
    content: "Types: "
}

.TroubleshootingTip-Component .types {
}


.TroubleshootingTip-Component .tags::before {
    content: "Tags: "
}

.TroubleshootingTip-Component .tags {}


.TroubleshootingTip-Component .types,
.TroubleshootingTip-Component .tags {
    margin: 0;
    font-size: 0.5em;
    text-transform: uppercase;
}