.GeneralInfo-Component {
    margin-bottom: 1em;


    h2 {
        font-weight: bold;
    }

    h3 {
        padding-bottom: 0.5em;

        &::before,
        &::after {
            content: "\""
        }
    }


    h2,
    h3 {
        text-align: center;
    }
}